body {
  font-size: 1.5em;
  line-height: 1.5em;
}

/** ANIMATION **/
.step {
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
  opacity: 0.1;

  display: block;
  padding: 1em;
  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  letter-spacing: -1px;
}
.step.active {
  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
  opacity: 1;
}

h1, h2 {
  margin: 0;
}

.center {
  text-align: center;
}

.middle {
  vertical-align: middle;
}
